@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

:root{
/*----Colors----*/
/*-Primary-*/
--soft-red: hsl(10, 79%, 65%);
--cyan: hsl(186, 34%, 60%);
/*-Neutral-*/
--dark-brown: hsl(25, 47%, 15%);
--medium-brown: hsl(28, 10%, 53%);
--cream: hsl(27, 66%, 92%);
--very-pale-orange: hsl(33, 100%, 98%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

body{
  font-family: 'DM Sans', sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cream);
  gap: 1rem;
}

.expenses-header,
.expenses-info{
  width: 440px;
  padding: 1.3rem;
  border-radius: 15px;
}

.expenses-header{
  background-color: var(--soft-red);
  justify-content: space-between;
}

.balance{
  color: var(--very-pale-orange);
}

.expenses-info{
  background-color: var(--very-pale-orange);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-brown);
}

.expenses-info h2{
  align-self: self-start;
}

.expenses-info_summary{
  justify-content: space-between;
  width: 100%;
  align-items: end;
}

.expenses-info_chart-container{
  width: 100%;
  justify-content: space-between;
  padding: 2.5rem 0;
  align-items: end;
}

.expenses-info_chart-container article{
  position: relative;
  text-align: center;
}

article .expense{
  display: none;
  border-radius: 5px;
  color: var(--very-pale-orange);
  padding: 1px;
  width: 3.2em;
  background-color: var(--dark-brown);
  position: absolute;
  left: 50%;
  top: -29px;
  transform: translateX(-50%);
}

.expenses-info_chart-container_chart{
  width: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--soft-red);
  transition: height 0.5s;
}

.expenses-info_chart-container_chart:hover{
  opacity: .5;
}

.max{
  background-color: var(--cyan);
}

.expenses-info_chart-container article:hover .expense {
  display: block;
}

#totalExpense{
  font-size: 2.7rem;
}

.percents{
  text-align: end;
  margin: .4rem 0;
}

@media (max-width: 480px) {
  .expenses-header,
  .expenses-info {
    width: 90%;
  }
}
